# Importing Data
- Scraping names and committee names of Senate Committee Members
- Scraping individual data from wikipedia from the previous list created
- Creating dataframes of both committee memebers ranking member and chair 
- including voter data, state, assumed office, time in office

In [1]:
import re
import pandas as pd
import numpy as np
import requests
import os
import json
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup as bs
from splinter import Browser
import time
from IPython.core.display import HTML
from datetime import date, datetime

In [2]:
#Generating list of year strings to add to url link concat

In [3]:
# Format https://en.wikipedia.org/wiki/2014_United_States_federal_budget
#completeUrl = sourceUrl + year + '_United_States_federal_budget'
sourceUrl = "https://en.wikipedia.org/wiki/"
years = ['2014', '2015', '2016', '2017', '2018']
param = '_United_States_federal_budget'
#year = '2014'

In [4]:
#Creating a function that checks the params if they are a list, concats into a full list
def searchWiki(sourceUrl, year, sourceParam):
    typeList = []
    yearI = []
    exportLink = []
    if type(year) == type(typeList):
        print('List')
        for i in year:
            exportLink.append(sourceUrl + i + sourceParam)
    else:
        print('String')
        exportLink = ''
        exportLink = sourceUrl + year + sourceParam
    return exportLink

In [5]:
allUrls = searchWiki(sourceUrl, years, param)
allUrls

List

['https://en.wikipedia.org/wiki/2014_United_States_federal_budget',
 'https://en.wikipedia.org/wiki/2015_United_States_federal_budget',
 'https://en.wikipedia.org/wiki/2016_United_States_federal_budget',
 'https://en.wikipedia.org/wiki/2017_United_States_federal_budget',
 'https://en.wikipedia.org/wiki/2018_United_States_federal_budget']

In [6]:
# for i in allUrls:
#     dataFrameList = []
#     response = requests.get(i)
#     soup = bs(response.text, 'html.parser')
#     #print(soup.prettify())
#     holdingVar = pd.read_html(i)
#     dataFrameList.append(holdingVar)
#     time.sleep(1)

In [7]:
# len(dataFrameList)

In [8]:
response = requests.get(allUrls[0])
soup = bs(response.text, 'html.parser')
#print(soup.prettify())
_2014 = pd.read_html(allUrls[0])

In [9]:
_2014 = _2014[7]
_2014

,Agency,"Discretionary, requested","Discretionary, enacted","Mandatory, requested","Mandatory, enacted"
0,Department of Defense including Overseas Conti...,526.6,NaN,NaN,NaN
1,Department of Health and Human Services includ...,78.3,NaN,NaN,NaN
2,Department of Education,71.2,NaN,NaN,NaN
3,Department of Veterans Affairs,63.5,NaN,NaN,NaN
4,Department of Housing and Urban Development,33.1,NaN,NaN,NaN
5,Department of State and Other International Pr...,48.1,NaN,NaN,NaN
6,Department of Homeland Security,39.0,NaN,NaN,NaN
7,Department of Energy,28.4,NaN,NaN,NaN
8,Department of Justice,16.3,NaN,NaN,NaN
9,Department of Agriculture,21.5,NaN,NaN,NaN
10,National Aeronautics and Space Administration,17.7,NaN,NaN,NaN
11,National Intelligence Program,48.2,NaN,NaN,NaN
12,Department of Transportation,16.3,NaN,NaN,NaN
13,Department of the Treasury,12.9,NaN,NaN,NaN
14,Department of the Interior,11.7,NaN,NaN,NaN
15,Department of Labor,12.1,NaN,NaN,NaN
16,Social Security Administration,9.1,NaN,NaN,NaN
17,Department of Commerce,8.6,NaN,NaN,NaN
18,Army Corps of Engineers Civil Works,4.7,NaN,NaN,NaN
19,Environmental Protection Agency,8.2,NaN,NaN,NaN
20,National Science Foundation,7.6,NaN,NaN,NaN
21,Small Business Administration,0.8,NaN,NaN,NaN
22,Corporation for National and Community Service,1.1,NaN,NaN,NaN
23,Net interest,0.0,NaN,NaN,NaN
24,Disaster costs,6.0,NaN,0.0,NaN
25,Other spending,19.4,NaN,NaN,NaN
26,Total,1235.0,NaN,2475.0,NaN

In [18]:
response = requests.get(allUrls[1])
soup = bs(response.text, 'html.parser')
#print(soup.prettify())
_2015 = pd.read_html(allUrls[1])

In [19]:
_2015 = _2015[2]
_2015

,Function,Title,2014 enacted[31],2015 Presidentialrequest[31],2015 Republicanproposal[32]
0,50.0,National Defense,620.562,631.280,566.5
1,970.0,Overseas Contingency Operations*,620.562,631.280,52.6
2,150.0,International Affairs,48.472,50.086,39.0
3,250.0,"General Science, Space and Technology",28.718,30.839,27.9
4,270.0,Energy,13.375,8.620,5.8
5,300.0,Natural Resources and Environment,39.102,41.349,39.3
6,350.0,Agriculture,22.659,16.953,19.5
7,370.0,Commerce and Housing Credit,-82.283,-31.430,-15.8
8,400.0,Transportation,95.519,97.825,80.7
9,450.0,Community and Regional Development,33.305,28.865,23.6
10,500.0,"Education, Training, Employment and Social Ser...",100.460,117.350,91.8
11,550.0,Health,450.795,512.193,416.6
12,570.0,Medicare,519.027,532.324,519.4
13,600.0,Income Security,542.237,535.963,505.0
14,650.0,Social Security,857.319,903.196,892.0
15,700.0,Veterans Benefits and Services,151.165,158.524,153.0
16,750.0,Administration of Justice,53.102,55.843,54.3
17,800.0,General Government,22.407,25.706,23.6
18,900.0,Net Interest,223.450,251.871,267.3
19,920.0,Allowances,1.875,29.285,-521.0
20,930.0,Government-Wide Savings**,NaN,NaN,20.1
21,950.0,Undistributed Offsetting Receipts,-90.740,-95.653,-95.6
22,NaN,Total,3650.526,3900.989,3165.6

In [24]:
response = requests.get(allUrls[2])
soup = bs(response.text, 'html.parser')
#print(soup.prettify())
_2016 = pd.read_html(allUrls[2])

In [32]:
_2016[3]
#_2016 = _2016[7]

IndexError: list index out of range

In [38]:
response = requests.get(allUrls[3])
soup = bs(response.text, 'html.parser')
#print(soup.prettify())
_2017 = pd.read_html(allUrls[3])

In [44]:
_2017[1]
#_2017 = _2017[0]

                                  Source Requested [33] Actual [3]
0                  Individual income tax         $1,788     $1,587
1                   Corporate income tax         $418.7       $297
2  Social Security and other payroll tax       $1,141.2     $1,161
3                             Excise tax         $110.1      $83.8
4                  Estate and gift taxes          $22.4      $22.8
5                         Customs duties          $39.5      $34.6
6           Other miscellaneous receipts         $123.8       $129
7                                  Total       $3,643.7     $3,316

In [ ]:
response = requests.get(allUrls[4])
soup = bs(response.text, 'html.parser')
#print(soup.prettify())
_2018 = pd.read_html(allUrls[4])

In [ ]:
_2018 = _2018[7]
_2018

In [ ]:
allRecords.to_csv('wikiRecords', index = False)